<a href="https://colab.research.google.com/github/Valiant-Ai/GITcourse/blob/main/Kopie_se%C5%A1itu_PiDS_handbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python - Intro

* Written by Guido van Rossum and released in 1990 (32 years ago!)
* The three major versions, currently the latest version is 3.10
* Version 2.7 stopped being supported in 2020.
* Contrary to appearances, the name does not come from a snake,
but the name of the program "Monty Python's Flying Circus."
* Written as a scripting language for the Amoeba distributed OS.

* Interpretable - it doesn't need to be compiled and
has its own dedicated interpreter.
* High-level - you operate on concepts from the
domain of the problem you are solving (e.g. for a
bank, there will be currencies, loans, accounts,
transfers) and not on processor bits and registers.
* Dynamically typed - when declaring variables you do
not have to provide their type and you can keep
whatever you want in them.
* It supports many styles (paradigms) of programming
  * Object-oriented (classes, methods, inheritance)
  * Function (lambda expressions)
  * Imperative (loops)
  * Reflective (looking into variables, modules,
  classes)

##Comments

In [ ]:
#Easy comments dělám kod na zkoušku
#TODO missing logic
#Here I loop over data

In [ ]:
'''
Complex
multiline
comment
'''

def my_function(inp):
  '''
  Ahoj, jsem docstring
  '''
  #TODO dodělat logiku
  out = inp
  return out

###Google colab

Google Colab is a free cloud service that allows you to share Jupyter notebooks with
others without having to download, install, or run anything on your own computer
outside of your browser. Notebooks can be edited simultaneously by several people
who have access to it!

Shortcuts overview:
https://amitness.com/2020/06/google-colaboratory-tips/

Handful shortcuts:
* Comment out code in cell
  * CTRL + /
* Run cell and jump down
  * SHIFT + enter
* Change cell to text
  * CTRL + M + M
* Change cell to code
  * CTRL + M + Y
* Add cell above
  * CTRL + M + A
* Add cell below
  * CTRL + M + B

LaTeX supported

$\sqrt{a+b}$

###Importing libraries

In [ ]:
#basic import and method call
import multiprocessing
print(multiprocessing.cpu_count())

2

In [ ]:
#add alias for imported module
import multiprocessing as mp
print(mp.cpu_count())

2

In [ ]:
from multiprocessing import cpu_count

In [ ]:
print(cpu_count())

2

In [ ]:
#library for using operating system functionality
import os
print(os.getcwd())
print(os.listdir())

/content
['.config', 'test.txt', '.ipynb_checkpoints', 'sample_data']

In [ ]:
os.chdir("sample_data")
print(os.listdir())

['README.md', 'anscombe.json', 'mnist_test.csv', 'california_housing_train.csv', 'mnist_train_small.csv', 'california_housing_test.csv']

In [ ]:
os.chdir("..")
print(os.listdir())

['.config', 'test.txt', '.ipynb_checkpoints', 'sample_data']

##Variables

Each variable has:
* name
* value
* type
* space in memory

In [ ]:
#var_name / assign / value
name = "Michal"
name

'Michal'

In [ ]:
#numbers in variable name
2moje_jmeno = "Michal"

SyntaxError: invalid decimal literal (<ipython-input-30-79e544150594>, line 2)

In [ ]:
#descriptive naming
typek_co_rad_pise_svoje_jmeno_v_pythonu = "Michal"
print(typek_co_rad_pise_svoje_jmeno_v_pythonu)

Michal

In [ ]:
#Input function for user input from the console
moje_jmeno = input("Type your name: ")
print(moje_jmeno)

Type your name: Michal
Michal

Reserved names:

<div align = "left">
<table>
<tr><td>and</td><td>False</td><td>not</td></tr>
<tr><td>as</td><td>finally</td><td>or</td></tr>
<tr><td>assert</td><td>for</td><td>pass</td></tr>
<tr><td>break</td><td>from</td><td>print</td></tr>
<tr><td>class</td><td>global</td><td>raise</td></tr>
<tr><td>continue</td><td>if</td><td>return</td></tr>
<tr><td>def</td><td>import</td><td>True</td></tr>
<tr><td>del</td><td>in</td><td>try</td></tr>
<tr><td>elif</td><td>is</td><td>while</td></tr>
<tr><td>else</td><td>lambda</td><td>with</td></tr>
<tr><td>except</td><td>None</td><td>yield</td></tr>
<tr><td></td><td>nonlocal</td><td></td></tr>
</table>
</div>

##Data types

There are a large number of data types (types determine the amount of memory a variable
takes):
* Numbers (int - integers, float - rational (floating point) numbers)
  * 1, -44, 100, 0, 5.5, 3.1415
* Text (called string(s) in computer science)
  * "Hello world"
* Boolean values (true/false)
  * True, False
* Lists and tuples (a collection of variables of different types)
  * [55, ‘string’, True] -> list, (55, ‘string’, True) -> tuple
* Dictionary (map of key -> value)
  * {‘Chris’: 4, ‘Haley’: 4.5, ‘Willie’: 5}
* Sets (collection of unique data)
  * {1,2,3,4} – values cannot be repeated
* Representation of nothing
  * None

In [ ]:
#Dynamic typing even for already defined variables
number = 25
print(number, type(number))
number = 0.5
print(number, type(number))
number = "Michal"
print(number, type(number))

25 <class 'int'>
0.5 <class 'float'>
Michal <class 'str'>

In [ ]:
#Beware - data type matters!
my_income = input("Type your income: ")
my_income = 100000 + my_income
print(my_income)

Type your income: 50000

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
my_income = int(input("Type your income: "))
my_income = 100000 + my_income
print(my_income)

Type your income: 100
100100

In [ ]:
#string formatting for print function
my_income = 1000
my_name = "Michal"

print(my_name,"vydělává", my_income, "Kč.")
print(str(my_name) + " vydělává " + str(my_income) + " Kč.")
print(f"{my_name} vydělává {my_income} Kč.")

Michal vydělává 1000 Kč.
Michal vydělává 1000 Kč.
Michal vydělává 1000 Kč.

###Numeric

* Integer (whole number)
* Float (decimal number)

In [ ]:
#plus
print(2 + 2.5)
#minus
print(2 - 20)
#power
print(2 ** 4)
#divide
print(20 / 6)
#integer division - whole numbers
print(20 // 6)
#remainder after integer division
print(20 % 6)

4.5
-18
16
3.3333333333333335
3
2

In [ ]:
b = 5
b += 10
print(b)

15

In [ ]:
a = 12
a += 20
print(a)

a = 12
a -= 2
print(a)

a = 12
a *= 3
print(a)

a = 12
a /= 6
print(a)

a = 12
a //= 8
print(a)

a = 12
a %= 8
print(a)

32
10
36
2.0
1
4

###Boolean

* True
* False

In [ ]:
print(5>3)
print(3>5)

True
False

In [ ]:
a = True
print(a)
print(not(a))

True
False

###String

In [ ]:
a = "Hello"
b = 'World'
print(a)
print(b)
print(a + b)
print(a + " " + b)
print(a + " " + b + "!")

Hello
World
HelloWorld
Hello World
Hello World!

In [ ]:
print(f"{a} {b}!")

Hello World!

In [ ]:
print("2 + 3 equals " + "4")

2 + 3 equals 4

In [ ]:
x = "párek"
print("2 + 5 = " + str(x))

2 + 5 = párek

In [ ]:
a = 15
b = 30
result = a * b
print(f"{a} * {b} = {result}")

15 * 30 = 450

In [ ]:
#special characters
print("first line\nsecond line\nthird line")

first line
second line
third line

In [ ]:
#escape characters
print("It was 'funny'")
print('It was "funny"')
print("It was \"funny\"")

It was 'funny'
It was "funny"
It was "funny"

In [ ]:
#string methods
dir("a")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
text = "good morning, my darling."
#slicing
print(text[1:3])
#converts all letters to uppercase
print(text.upper())
#split the object into arrays by a separator (default sep " ")
print(text.split(" "))
#replace characters
print(text.replace("m", "M"))

oo
GOOD MORNING, MY DARLING.
['good', 'morning,', 'my', 'darling.']
good Morning, My darling.

Useful built-in functions
on each object:
* dir - lists the available methods and attributes
* type - will print the type of the object
* help - writes out the documentation

In [ ]:
#Get help from the documentation
print(help(2))
print("\n-----------------------\n")
#Get data type
print(type(2))
print("\n-----------------------\n")
#Get all methods and attributes
dir(2)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

None

-----------------------

<class 'int'>

-----------------------

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

###Data retyping

In [ ]:
a = "10"
print(a, type(a))
a = int(a)
print(a, type(a))
a = float(a)
print(a, type(a))
a = bool(a)
print(a, type(a))

10 <class 'str'>
10 <class 'int'>
10.0 <class 'float'>
True <class 'bool'>

###Tasks 1 and 2
* Importing libraries
* Variables and data types

##If-Else

In [ ]:
#Basic
if 4==4:
  print(True)

True

In [ ]:
animal = "cow"

if animal == "cat":
  print("Animal is cat.")

In [ ]:
#Else statement
animal = "dog"

if animal == "cat":
  print("Animal is cat.")
else:
  print("Animal is not cat")

Animal is not cat

In [ ]:
if 5==4:
  print(True)
else:
  print(False)

False

In [ ]:
#More complex structures
x = 0
y = 10
if x == 0:
  if y != 10:
    print("Yes")
else:
  print("condition False")

In [ ]:
#and in condition
x = 0
y = 10
if 0 == x and y == 10:
  print("Yes")
else:
  print("condition False")

Yes

In [ ]:
#or in condition
x = 1
y = 10.0
if 0 == x or y == 10:
    print("Yes")

Yes

In [ ]:
#one line if-else
b = 0
a = "positive" if b >= 0 else "negative"
print(a)

positive

In [ ]:
#Elif statement - more conditions in one if-else
number = 2
if number == 1:
  print("Small number")
elif number == 2:
  print("Still small number")
elif number < 10:
  print("Growing, but still small number")
else:
  print("Big number")

Still small number

###Data types behaviour when retyped to boolean

In [ ]:
#data type overflow - rounding problem
if 5 == 4.999999999999999:
  print("Same")
else:
  print("Different")

Same

In [ ]:
x = 4.9999999999999999
x_datovy_typ = type(x)
print(x_datovy_typ) # jakého datového typu je proměnná x?
x.is_integer() # je hodnota v x převeditelná na integer?

<class 'float'>

True

In [ ]:
#empty string -> False
slovo = ""

if slovo:
  print(True)
else:
  print(False)

False

In [ ]:
#numeric zero -> False
cislo = 1

if cislo:
  print(True)
else:
  print(False)

True

In [ ]:
nula = "0"
if nula:
  print(True)
else:
  print(False)

True

###Task 3 If-else

##Functions

* A function is a clearly separated piece of code that has one specific task.
* The function declaration begins with the def keyword.
* It is followed by the name of the function
* In parentheses we give the arguments of the function, separated by commas
* Function does not need to have arguments

In [ ]:
#Function call
a = 1
b = 4
soucet = a + b
print(soucet)

5

In [ ]:
#Function with no arguments
def sum_numbers():
  abc = 1
  result = abc + 5
  print(result)

In [ ]:
#Interface between program and function - arguments and return
print(result)

NameError: name 'result' is not defined

In [ ]:
def sum_numbers_2():
  abc = 1
  result = abc + 5
  return result

In [ ]:
sum = sum_numbers_2()
print(sum, type(sum))

6 <class 'int'>

In [ ]:
#Function with required positional arguments
def secti_2_cisla(a, b):
  result = a + b
  print(result)

secti_2_cisla(1, 4)
secti_2_cisla(3.4, 5.8)
secti_2_cisla("ou", "yee")

5
9.2
ouyee

In [ ]:
#Argument with default values
def sum_numbers_4(a=5, b=10, c=2, d=20):
  result = a + b + c + d
  return result

In [ ]:
sum_1 = sum_numbers_4(4, 6, 2, 0)
print(sum_1)

sum_2 = sum_numbers_4(12, 5)
print(sum_2)

sum_3 = sum_numbers_4(3)
print(sum_3)

sum_4 = sum_numbers_4()
print(sum_4)

12
39
35
37

In [ ]:
sum_numbers_4(5, 2)

29

In [ ]:
#If-else in function
def evaluate(a, b):
  if a < 0:
    return "a < 0"
  elif b < 0:
    return "b < 0"
  else:
    return "both positive"

In [ ]:
result = evaluate(1, -5)

In [ ]:
print(result)

b < 0

In [ ]:
#More returned values
def divide_and_sum(cislo_1, cislo_2):
  div = cislo_1 / cislo_2
  sum = cislo_1 + cislo_2
  return div, sum

In [ ]:
podil, soucet = divide_and_sum(5, 1)

print(podil)
print(soucet)

5.0
6

###Task 4 - Functions

##Complex data types

###Lists

In [ ]:
#Not convenient
city_0 = "Praha"
city_1 = "Ostrava"
city_2 = "Brno"
city_3 = "Plzen"
city_4 = "Liberec"
city_5 = "Opava"

print("Welcome to " + city_2)

Welcome to Brno

In [ ]:
#Brackets [], ordered indexed array
cities = ["Praha", "Ostrava", "Brno", "Plzen", "Liberec"]
print("Welcome to " + cities[2])

Welcome to Brno

In [ ]:
def create_cities():
  return ["Praha", "Ostrava", "Brno", "Plzen", "Liberec", "Terlicko", "Ceske Budejovice"]

Indexing starts from 0 and [] are required

In [ ]:
#Mixed data types possible
mixed = ["Praha", 5, True, ["Plzen", "Liberec", "Opava"]]
print(mixed[3])

['Plzen', 'Liberec', 'Opava']

In [ ]:
print(mixed[3], mixed[3][0], mixed[3][0][1])

['Plzen', 'Liberec', 'Opava'] Plzen l

In [ ]:
#list +
another_cities = ["Ceske Budejovice", "Jihlava"]
#cities = cities + another_cities
cities += another_cities
print(cities)

['Praha', 'Ostrava', 'Brno', 'Plzen', 'Liberec', 'Ceske Budejovice', 'Jihlava']

In [ ]:
#Indexing [from:to:step], defaults [start, end, 1]
muj_index = 3
print(cities[1])
print(cities[1:muj_index])
print(cities[muj_index:6])

Ostrava
['Ostrava', 'Brno']
['Plzen', 'Liberec', 'Ceske Budejovice']

In [ ]:
#Negative index - going backwards
print(cities[-1])

Jihlava

In [ ]:
print(cities[:muj_index])
print(cities[muj_index:])

['Praha', 'Ostrava', 'Brno']
['Plzen', 'Liberec', 'Ceske Budejovice', 'Jihlava']

In [ ]:
#Reverse by index
print(cities[::-1])

['Jihlava', 'Ceske Budejovice', 'Liberec', 'Plzen', 'Brno', 'Ostrava', 'Praha']

In [ ]:
#every second
print(cities[::2])

['Praha', 'Brno', 'Liberec', 'Jihlava']

In [ ]:
cities

['Praha', 'Ostrava', 'Brno', 'Plzen', 'Liberec', 'Ceske Budejovice', 'Jihlava']

In [ ]:
print(cities[-2:1:-3])

['Plzen']

In [ ]:
#Lot of methods and attributes -> list is editable and flexible
dir(cities)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
vybrana = cities[:3]
vybrana

['Praha', 'Ostrava', 'Brno']

In [ ]:
#Method examples
cities.sort()
print(cities)
cities.reverse()
print(cities)

['Brno', 'Ceske Budejovice', 'Jihlava', 'Liberec', 'Ostrava', 'Plzen', 'Praha']
['Praha', 'Plzen', 'Ostrava', 'Liberec', 'Jihlava', 'Ceske Budejovice', 'Brno']

In [ ]:
#append - add element at the end
cities.append("Terlicko")
print(cities)

['Praha', 'Plzen', 'Ostrava', 'Liberec', 'Jihlava', 'Ceske Budejovice', 'Brno', 'Terlicko']

In [ ]:
#insert - add at desired index
cities.insert(5, "Karviná")
print(cities)

['Praha', 'Plzen', 'Ostrava', 'Liberec', 'Jihlava', 'Karviná', 'Ceske Budejovice', 'Brno', 'Terlicko']

In [ ]:
#deleting elements
tasks = [1, 2, 3, 4]
tasks.remove(2)
print(tasks)
del tasks[1]
print(tasks)

[1, 3, 4]
[1, 4]

In [ ]:
visited = []

In [ ]:
visited = list()

In [ ]:
cities

['Praha',
 'Plzen',
 'Ostrava',
 'Liberec',
 'Jihlava',
 'Karviná',
 'Ceske Budejovice',
 'Brno']

In [ ]:
smazano = cities.pop(2)

In [ ]:
cities

['Praha', 'Plzen', 'Liberec', 'Jihlava', 'Karviná', 'Ceske Budejovice', 'Brno']

In [ ]:
smazano

'Terlicko'

In [ ]:
visited

[]

In [ ]:
wishlist = create_cities()

In [ ]:
#pop - remove from list and return removed
#no argument - remove the last, otherwise index
visited.append(wishlist.pop())
print(visited)
print(wishlist)

IndexError: pop from empty list

In [ ]:
#chci smazat poslední město -> pop(index=-1) return smazany
smazany = cities.pop()

IndexError: pop from empty list

In [ ]:
list_1 = ["pes", "kocka"]

In [ ]:
list_2 = list_1
list_2.append("papousek")
list_2.remove("pes")

In [ ]:
list_1

['kocka', 'papousek']

In [ ]:
#Look for element and find remove it
cities_index = cities.copy()
print(cities_index)

['Praha', 'Ostrava', 'Brno', 'Plzen', 'Liberec', 'Terlicko', 'Ceske Budejovice']

In [ ]:
#first check whether Brno is present
if "Brno" in cities_index:
  #find Brno position
  index = cities_index.index("Brno")
  #delete Brno by position
  cities_index.pop(index)
print(cities_index)

['Praha', 'Ostrava', 'Plzen', 'Liberec', 'Terlicko', 'Ceske Budejovice']

In [ ]:
cities.remove("Plzen")

In [ ]:
cities

['Praha', 'Ostrava', 'Brno', 'Liberec', 'Terlicko', 'Ceske Budejovice']

###Task 5 - Lists

###Tuples

In [ ]:
#Brackets (), ordered indexed array
cities_tuple = ("Praha", "Ostrava", "Brno", "Plzen", "Liberec")
print(cities_tuple)
print("Welcome to " + cities_tuple[3])
print(type(cities), type(cities_tuple))

('Praha', 'Ostrava', 'Brno', 'Plzen', 'Liberec')
Welcome to Plzen
<class 'list'> <class 'tuple'>

In [ ]:
#Mixed data types possible
mixed_tuple = ("Praha", 5, True, ["Plzen", "Liberec"])
print(mixed_tuple)
print(mixed_tuple[3])

('Praha', 5, True, ['Plzen', 'Liberec'])
['Plzen', 'Liberec']

In [ ]:
#No methods and attributes -> tuple is not editable nor flexible
dir(cities_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
a = 1, "ahoj", 3
type(a)

tuple

In [ ]:
a1, a2, a3 = a
print(a1, a2, a3)

1 ahoj 3

In [ ]:
a_list = list(a)

In [ ]:
a_list.append(3)
a_list

[1, 2, 3, 3]

In [ ]:
#usage - results handover
def more_results():
  A = "abc"
  B = "bcd"
  return A, B

x, y = more_results()
print(x, type(x))
print(y, type(y))
print(more_results(), type(more_results()))

abc <class 'str'>
bcd <class 'str'>
('abc', 'bcd') <class 'tuple'>

###Set

In [ ]:
#Brackets {}, collection which is unordered, unchangeable*, and unindexed.
cities_set = {"Praha", "Ostrava", "Brno", "Plzen", "Liberec"}
print(cities_set)
#print("Welcome to " + cities_set[3])
print(type(cities_set))

{'Brno', 'Praha', 'Liberec', 'Ostrava', 'Plzen'}
<class 'set'>

In [ ]:
#usage - get unique values
list_duplicity = ["a", "a", "a", "b", "b"]
print(list_duplicity)
print(set(list_duplicity))

['a', 'a', 'a', 'b', 'b']
{'b', 'a'}

In [ ]:
#usage - mathematical set operations like union, intersection, symmetric difference, etc.
list_1 = ["a", "b", "c", "d", "e"]
list_2 = ["d", "e", "f", "g"]
print(set(list_1) - set(list_2))
print(set(list_2) - set(list_1))

{'b', 'c', 'a'}
{'g', 'f'}


###Dictionary

In [ ]:
#Brackets {}, store data values in key:value pairs.
cities_population = {"Praha": 1000000, "Ostrava": 350000, "Brno": 450000}
print(cities_population)
print(f'Population of Praha is {cities_population["Praha"]}')
print(type(cities_population))

{'Praha': 1000000, 'Ostrava': 350000, 'Brno': 450000}
Population of Praha is 1000000
<class 'dict'>

In [ ]:
#Mixed data types possible
mixed_dict = {"Praha": 100, 5: "Ostrava", True:["5", 1]}
print(mixed_dict)
print(mixed_dict[True][1])

{'Praha': 100, 5: 'Ostrava', True: ['5', 1]}
1

In [ ]:
moje_vizitka = {"jmeno": "Michal", "prijmeni": "Maliszewski", "bydliste": "ČR"}
print(moje_vizitka["jmeno"])
moje_vizitka

Michal

{'jmeno': 'Michal', 'prijmeni': 'Maliszewski', 'bydliste': 'ČR'}

In [ ]:
moje_vizitka_list = ["Michal", "Maliszewski", "ČR"]
print(moje_vizitka_list[0])
moje_vizitka_list

Michal

['Michal', 'Maliszewski', 'ČR']

In [ ]:
#editable
moje_vizitka["bydliste"] = "Karibik"
print(moje_vizitka)

{'jmeno': 'Michal', 'prijmeni': 'Maliszewski', 'bydliste': 'Karibik'}

In [ ]:
moje_vizitka["bydliste"] = "ČR"
print(moje_vizitka)

{'jmeno': 'Michal', 'prijmeni': 'Maliszewski', 'bydliste': 'ČR'}

###Task 6 - slovníky

##Loops

###For loop

In [ ]:
visited = ["Terlicko", "Ceske Budejovice", "Brno", "Krnov", "Praha"]

In [ ]:
print(visited[0])
print(visited[1])
print(visited[2])
print(visited[3])
print(visited[4])

Terlicko
Ceske Budejovice
Brno
Krnov
Praha

In [ ]:
#iterate over list elements
for mesto in visited:
  print(f"I visited {mesto.upper()}.")

I visited TERLICKO.
I visited CESKE BUDEJOVICE.
I visited BRNO.
I visited KRNOV.
I visited PRAHA.

In [ ]:
#iterate over string -> letters
for pismeno in "Terlicko":
  print(pismeno)

T
e
r
l
i
c
k
o

In [ ]:
#iterate over tuple elements
for element in (1, "ouch", True):
  print(element)

1
ouch
True

In [ ]:
#iterate over dictionary - need key: value structure
moje_vizitka = {"jmeno": "Michal", "prijmeni": "Maliszewski", "bydliste": "ČR"}
for key, value in moje_vizitka.items():
  print(f"Pod klíčem: {key} je hodnota: {value}")

Pod klíčem: jmeno je hodnota: Michal
Pod klíčem: prijmeni je hodnota: Maliszewski
Pod klíčem: bydliste je hodnota: ČR

In [ ]:
for klic in moje_vizitka.keys():
  print(f"Pod klíčem: {klic} je hodnota: {moje_vizitka[klic]}")

Pod klíčem: jmeno je hodnota: Michal
Pod klíčem: prijmeni je hodnota: Maliszewski
Pod klíčem: bydliste je hodnota: ČR

In [ ]:
for klic in moje_vizitka:
  print(f"Pod klíčem: {klic} je hodnota: {moje_vizitka[klic]}")

Pod klíčem: jmeno je hodnota: Michal
Pod klíčem: prijmeni je hodnota: Maliszewski
Pod klíčem: bydliste je hodnota: ČR

In [ ]:
#break keyword
for letter in "Terlicko":
  print(letter)
  if letter == "i":
    break

T
e
r
l
i

In [ ]:
#continue keyword
import time

for number in [0, 1, 2, 3, 4, 5, 6, 7, 8]:
  print(number)

  if number % 2 == 0:
    print("Hurry!")
    continue

  print("Waiting")
  time.sleep(5)

0
Hurry!
1
Waiting
2
Hurry!
3
Waiting
4
Hurry!
5
Waiting
6
Hurry!
7
Waiting
8
Hurry!

In [ ]:
#Enumerate() function - include index
text = "ILovePython"
for index, letter in enumerate(text):
  if index < len(text) - 1:
    print(letter + text[index + 1])

IL
Lo
ov
ve
eP
Py
yt
th
ho
on

In [ ]:
#zip() function - combine iterators into one iterater with tupled elements
cities = ["Praha", "Warsaw", "Bratislava"]
countries = ["CZ", "PL", "SK"]
for mesto, zeme in zip(cities, countries):
  print(mesto, zeme)

Praha CZ
Warsaw PL
Bratislava SK

In [ ]:
#range() function - create sequence of numbers
for cislo in range(5):
  print(cislo)

0
1
2
3
4

In [ ]:
#range(start=0, end, step=1)
for i in range(10, 111, 20):
  print(i)

10
30
50
70
90
110

In [ ]:
#range(start=0, end, step=1)
for i in range(100, -100, -49):
  print(i)

100
51
2
-47
-96

In [ ]:
#loop in loop
names = ["Michal", "Milos", "Petr"]
surnames = ["Maliszewski", "Zeman", "Fiala"]

whole_names = []
for name in names:
  for surname in surnames:
    whole_names.append(name + " " + surname)
whole_names

['Michal Maliszewski',
 'Michal Zeman',
 'Michal Fiala',
 'Milos Maliszewski',
 'Milos Zeman',
 'Milos Fiala',
 'Petr Maliszewski',
 'Petr Zeman',
 'Petr Fiala']

###While loop

In [ ]:
#do while conditions changes
i = 0
while i <= 5:
  print(i)
  i += 1

0
1
2
3
4
5

In [ ]:
#do while flag changes
positive = True
i = 5
while positive:
  if i < 1:
    positive = False
  else:
    print(i)
    i -= 1
print(i)

5
4
3
2
1
0

In [ ]:
#do while break applies
i = 1
while True:
  i += 1
  print(i)
  if i > 5:
    break

2
3
4
5
6

In [ ]:
#shout
text = ""
while True:
  text += "!"
  print(text)
  if len(text) > 5:
    break

!
!!
!!!
!!!!
!!!!!
!!!!!!

###Task 7 - looping

##Functions - args, kwargs

In [ ]:
#ordered arguments -> tuple-like approach
def sum_all(*args):

  print(args, type(args))
  # dostal jsem aspoň jeden argument?
  if len(args) > 0:
    result = 0
    for cislo in args:
      result += cislo
    return result
  else:
    print("I need more arguments")
    return None

In [ ]:
sum_all(1000, 500, 300, 40)

(1000, 500, 300, 40) <class 'tuple'>

1840

In [ ]:
def posli_email(*args):
  for email in args:
    jmeno = email.split(".")[0]
    prijmeni = email.split(".")[1].split("@")[0]
    print(f"Ahoj {jmeno} {prijmeni}!")
    print(f"Poslat na {email}")

In [ ]:
posli_email("Michal.Maliszewski@email.cz", "Lucie.Maliszewski@email.cz", "Martin.Maliszewski@email.cz")

Ahoj Michal Maliszewski!
Poslat na Michal.Maliszewski@email.cz
Ahoj Lucie Maliszewski!
Poslat na Lucie.Maliszewski@email.cz
Ahoj Martin Maliszewski!
Poslat na Martin.Maliszewski@email.cz

In [ ]:
#named arguments -> dictionary-like approach
def print_named_arguments(**kwargs):
  for key, value in kwargs.items():
    print(key, value)

In [ ]:
print_named_arguments(email="Marw", dite="Vilém")

email Marw
dite Vilém

In [ ]:
def print_all(jmeno, gender="", *args, **kwargs):

  print(jmeno, gender)

  for jmeno in args:
    print(f"Ahoj {jmeno}!")

  for key, value in kwargs.items():
    print(key, value)

In [ ]:
print_all("Michal", "muž", 8, 7, True, pes="Marw", dite="Vilém", zena="zena")

Michal muž
Ahoj 8!
Ahoj 7!
Ahoj True!
pes Marw
dite Vilém
zena zena

##List comprehensions

In [ ]:
#Create new list with some logic
list_1 = [7, 2, 6, 2, 5, 4, 3]

In [ ]:
#Numbers greater than 5
#co chci zapsat for .... in ... if .....
list_big_numbers = [element for element in list_1 if element > 5]
print(list_big_numbers)

[7, 6]

In [ ]:
novy_list = list()
for prvek in list_1:
  if prvek > 5:
    novy_list.append(prvek)
novy_list

[7, 6]

In [ ]:
#Power of two of even numbers
list_2 = [element**2 for element in list_1 if (element % 2 == 0)]
print(list_2)

[4, 36, 4, 16]

In [ ]:
nactene_sloupce = ["ab", "a_sys", "c d", "b_sys", "a c", "c_sys", "system"]

In [ ]:
nesystem_sloupce = [sloupec + "_chci" for sloupec in nactene_sloupce if "_sys" not in sloupec]
nesystem_sloupce

['ab_chci', 'c d_chci', 'a c_chci', 'system_chci']

In [ ]:
novy_list = list()
for sloupec in nactene_sloupce:
  if "_sys" not in sloupec:
    novy_list.append(sloupec)
novy_list

In [ ]:
mesta = ["Brno", "Krnov", "Ostrava", "Břeclav"]

In [ ]:
# víc jak 4 znaky a "o"
[mesto for mesto in mesta if len(mesto)>4 and ("O" in mesto or "o" in mesto)]

['Krnov', 'Ostrava']

In [ ]:
old_dict = {'Police': 911, 'Pizza': 303, 'Mom': 593}

new_dict = {value: key for key, value in old_dict.items() if value < 500}
new_dict

{303: 'Pizza'}

##Decorator

* In Python, functions are first-class objects. This means that a function (not just its result) can be assigned to a variable.
* It can be passed as an argument to another function.

In [ ]:
def say_hello(name):
  print(f"Hello {name}!")

def say_bye(name):
  print(f"Take care {name}!")

In [ ]:
def greet(funkce):
  if callable(funkce):
    return funkce("Michal")
  else:
    print(funkce, "není funkce")

In [ ]:
greet(type)

str

* You can also create functions inside other functions.
* Such an internal function works for the sole use of the function within which it is defined. It cannot be accessed from the outside in any way.

In [ ]:
def outer(text):
  print("out")

  def upper(txt):
    print("inner")
    return txt.upper()

  vysledek_vnitrni = upper(text)

  return vysledek_vnitrni

In [ ]:
outer("I have two dogs")

out
inner

'I HAVE TWO DOGS'

* One function may return another function as a result of its operation.
* We call this function a factory.

In [ ]:
def greeting(time):

  def morning_greeting(name):
    return "Good morning " + name + "!"

  def night_greeting(name):
    '''
    Noční pozdrav.
    '''
    return f"Good night {name}!"

  if time == "morning":
    return morning_greeting
  else:
    return night_greeting

In [ ]:
moje_funkce = greeting("")

In [ ]:
moje_funkce("Michal")

'Good night Michal!'

* Even the simplest decorator uses all three just mentioned techniques:
  * takes a function as its argument
  * defines an internal function
  * returns the function as the result of its operation

In [ ]:
def my_decorator(func):

  def wrapper(*args, **kwargs):
    soucin = 1
    for cislo in args:
      soucin *= cislo
    return func(*args, **kwargs), soucin

  return wrapper

In [ ]:
def hello_world(*args, **kwargs):
  return "hello world"

In [ ]:
def secti_cisla(a, b, c):
  return a + b + c

In [ ]:
print(hello_world())
print(my_decorator(hello_world)(10, 20))

hello world
('hello world', 200)

In [ ]:
print(secti_cisla(1, 2, 3))
print(my_decorator(secti_cisla)(1, 2, 3))

6
(6, 6)

* The decorator as the only argument takes the function to be decorated.
* In the middle, it defines a function traditionally called wrapper, which performs
the function we decorate, but also performs some additional action (in our
example it adds extra strings before and after the function result).
* It returns a wrapper as its result.

In [ ]:
def sum(a, b, c):
  return a + b + c

In [ ]:
print(my_decorator(sum)("5", "4", "2"))

TypeError: can't multiply sequence by non-int of type 'str'

* Note that after applying the decorator, it returns the original function wrapped in
a wrapper. So the end user is now not touching the original function, but the
wrapper.
* This means that the wrapper must take exactly the same arguments as the
wrapped function in order to pass them to that wrapped function.
* The problem is that it's hard to predict in advance what function someone will
wrap in the decorator we're writing and what arguments it will have.
* Therefore, the wrapper signature should always look like this:
def wrapper(*args, **kwargs), so we are able to wrap any function.

In [ ]:
def rozsirit_tisk(func):

  def wrapper(*args, **kwargs):
    return f"DECORATED-> {func(*args, **kwargs)} <-DECORATED"

  return wrapper

In [ ]:
print(rozsirit_tisk(hello_world)())

DECORATED-> hello world <-DECORATED

* In the two previous slides of the decorator, we used this way:

  * decorator(decorated_function)(arguments)
* This use of a decorator is not very readable, but Python gives us a completely different way.
* Once we have the decorator declared, we can use it literally decorating the function by
writing @decorator_name over it.

In [ ]:
@rozsirit_tisk
def get_text_len(text):
  return len(text)

@rozsirit_tisk
def print_text(neco):
  return "a"

In [ ]:
get_text_len("Michal")

'DECORATED-> 6 <-DECORATED'

In [ ]:
print_text("Michal")

'DECORATED-> a <-DECORATED'

In [ ]:
import time

def time_measure(func):

  def wrapper(*arg, **kwargs):
      t0 = time.time()
      result = func(*arg, **kwargs)
      t1 = time.time()
      print("Function execution took: " + str(t1 - t0) + " sec")
      return result

  return wrapper

In [ ]:
import random

@time_measure
def any_function(a, b, n):
  time.sleep(n)
  return a + b

@time_measure
def hod_minci():
  res = random.randint(0, 1)
  return bool(res)

In [ ]:
hod_minci()

Function execution took: 1.7881393432617188e-05 sec

False

###Task 8 - decorator

##File operations

The open function has the following modes:
* r - read only (default)
* w - for writing, if the file does not exist it will be created, if it does exist the old contents will be deleted
* x - for creating, the operation will fail if the file already exists
* a - appending, if the file does not exist, it will be created, if it exists, new content will be appended
* t - text mode (default)
* b - binary mode

In [ ]:
import os

In [ ]:
os.listdir()

['.config', 'sample_data']

In [ ]:
#We have to close syntax
file_I_work_on_too = open("my_second_file.txt", "w")
#do something
pass
file_I_work_on_too.close()

In [ ]:
#Python closes automaticaly syntax
with open("my_first_file.txt", "w") as file_I_work_on:
  #do something
  pass

In [ ]:
#Write content, mode w -> write
with open("my_first_file.txt", "w") as file_I_work_on:
  file_I_work_on.write("Ahoj Michale")

In [ ]:
#Read content, mode r -> read
with open("my_first_file.txt", "r") as file_I_work_on:
  text_v_souboru = file_I_work_on.read()
print(text_v_souboru)

Ahoj Michale

In [ ]:
#Append content, mode a -> append
with open("my_first_file.txt", "a") as file_I_work_on:
  file_I_work_on.write("\nHave a nice day!")

In [ ]:
#Read content again
with open("my_first_file.txt", "r") as file_I_work_on:
  text_v_souboru = file_I_work_on.read()
print(text_v_souboru)

Ahoj Michale
Have a nice day!

In [ ]:
#Beware - paths
os.mkdir("data")

In [ ]:
os.sep

'/'

In [ ]:
# windows
with open(f"data{os.sep}win_file.txt", "w") as f:
  pass

# OS X a Linux
with open(f"data{os.sep}unix_file.txt", "w") as f:
  pass

In [ ]:
#Binary files
import pickle

In [ ]:
#Define dictionary
people = {
    "MM": {
        'bydliste': 'ČR',
        'jmeno': 'Michal',
        'prijmeni': 'Maliszewski'},
    "MZ": {
        'bydliste': 'ČR',
        'jmeno': 'Miloš',
        'prijmeni': 'Zeman'},
  }
#Mode - w -> write, b -> binary
f = open('data.pkl', 'wb')
pickle.dump(people, f)
f.close()

In [ ]:
del people

In [ ]:
people

NameError: name 'people' is not defined

In [ ]:
#Mode - r -> read, b -> binary
f = open('data.pkl', 'rb')
is_it_people = pickle.load(f)
f.close()
print(is_it_people)

{'MM': {'bydliste': 'ČR', 'jmeno': 'Michal', 'prijmeni': 'Maliszewski'}, 'MZ': {'bydliste': 'ČR', 'jmeno': 'Miloš', 'prijmeni': 'Zeman'}}

###Task 9 - files

##Exceptions handling

* Any special situation must be handled somehow.
* Any exception that is not handled will terminate the program.

In [ ]:
def poledni_prestavka():
    1 / 0

In [ ]:
#Control over exceptions

poledni_prestavka()

while True:
  extremely_important = True
  print(extremely_important)

ZeroDivisionError: division by zero

In [ ]:
#Try - except structure
try:
    poledni_prestavka()
except:
    print('Error happened')

print('Program continues')

Error happened
Program continues

* Try: This block will test the excepted error to occur
* Except:  Here you can handle the error
* Else: If there is no exception then this block will be executed
* Finally: Finally block always gets executed either exception is generated or not

In [ ]:
try:
    f = open("data.obj")
except:
    print("Can't open the file!")
else:
    f.close()
    print("File closed.")
finally:
    print("I will always do that")

print('Program continues')

* TypeError – operation/function performed with wrong type of object
(e.g. '2' + 2)
* KeyError – the key (eg in a dictionary) could not be found
* IndexError – an attempt to get to a non-existent element (e.g. in a list)
* ModuleNotFoundError –imported (entire) module could not be found
* AssertionError – the assertion (used e.g. in tests) fails
* NameError – object cannot be found (e.g. variable before declaration)
* SyntaxError – invalid syntax (e.g. expression: a (=): 1 + 2))
* ZeroDivisionError – division by zero

In [ ]:
try:
  "a".uper()
except SyntaxError:
  print('Fix your syntax')
except TypeError:
  print('Oh no! A TypeError has occured')
except ValueError:
  print('A ValueError occured!')
except ZeroDivisionError:
  print('Div by zero?')
except FileNotFoundError:
  print("Soubor neexistuje!")
except AttributeError:
  print("Atribute or method does not exist!")
else:
  print('No exception')
finally:
  print('Ok then')

Atribute or method does not exist!
Ok then

###Task 10 - exceptions

##Clean Code and PEP8

![image.png]()

Correct names that clearly define what the functions should be used for,
* Documentation (docstrings),
* Type annotation (* that's a nice addition).

In [ ]:
def x(a):
  return (a - 32) * 5 / 9

def y(b):
  return (b * 9 / 5) + 32

In [ ]:
def convert_fahrenheit_to_celsius(fahrenheit_degrees):
  return (fahrenheit_degrees - 32) * 5 / 9

def convert_celsius_to_fahrenheit(celsius_degrees):
  return (celsius_degrees * 9 / 5) + 32

What's wrong with these names?
1. d = 10
2. x = person_data[3]
3. get_active_account()
get_active_accounts()
get_active_account_info()
4. nasuagwest = ("John", "Smith", 50, 95, "unemployed")
5. for element in list:
if element == 5:

1. The variable d says nothing about the
stored value.
2. The variable x says nothing about the
stored value plus it is unknown what we
get from the variable person_data; the
number 3 should be a constant named
appropriately, e.g. AGE = 3.
3. Too similar function names, it's hard to
guess what they differ without looking at
their code.
4. Difficult to pronounce and remember the
name of a variable (first name, first
name, age, weight, job).
5. It is not known what 5 is, why we are
matching an item to it, the item names
and the list are not the best either.

Function should work and meet the set requirements
* a good function is a simple function, i.e. one that does only one thing and nothing
else (solves one problem)
* a simple function is also one that has as few arguments as possible (preferably:
zero)
  * such a function should not have output arguments (only input)
* it should be quite short: aim for a few or a dozen lines
* the function should be easy to test
* function with proper name and arguments

In [ ]:
#example
def join_strings(*args):
  '''
  Function takes any number of input arguments, converts them to strings and
  joins them together into one string.

  If no arguments are given, empty string is returned.
  '''
  if len(args) > 0:
    result = str(args[0])
    for element in args[1:]:
      result += str(element)
    return result
  else:
    return ""

In [ ]:
help(join_strings)

Help on function join_strings in module __main__:

join_strings(*args)
    Function takes any number of input arguments, converts them to strings and
    joins them together into one string.

    If no arguments are given, empty string is returned.

In [ ]:
#printing to the terminal + removing elements
def print_each_element(elements):
  for element in elements:
    print(element)
    elements.remove(element)
#printing rather for debugging, do not manipulate the input

In [ ]:
#function can do two things (two paths)
def kiss_or_run(should_kiss):
  if should_kiss:
    pass
  else:
    pass

#better split into two -> kiss(), run()

Comments - problem/redundancy in the code are:
* unnecessary information (such as change history, author, last modified date -
this is not the place for such things, that's what GIT is for!)
* outdated comments
* redundant comments
* commented out code

In [ ]:
'''
Written by Michal
Date: dd-mm-yyyy
File_name: test.py
'''

def add(a, b):
  #TODO:
  #     implement a + b and return value
  #result = a + b
  #return result
  return a + b #same as b + a

* TODO comments (to be removed as soon as the implementation
is delivered!)
* legal comments (so-called copyrights)
* comments explaining WHY something is going on in the code, not
WHAT is going on in the code
* comments warning of some non-obvious consequences

###PEP8

* PEP is just a recommendation
* Exceptions: backwards compatible, direct low-level libraries port
* Compatibility primarily with the current design
* As a rule, PEP is the starting point for internal company regulations

* Indentation (4 spaces) and blank lines
* Line length
* Operator at the beginning of the line at an earlier break
* Spacing between classes and functions
* Character strings
* Formatting comments
* Importing modules

* UpperCamelCase – class names, type names, exceptions
* snake_case – functions, global variables, methods, static methods, function and
method arguments
* alllowercase – module names
* ALLCAPS -single-word constants in the code
* ALLCAPS_WITH_UNDERSCORES – constants in code

* Functions and methods less than 20 lines
* The name of each variable matters
* Self-translating variable/method/class names are better than comments
* If you're getting into the fifth degree of indentation, you're probably doing
something wrong
* If your class has plenty methods, you are probably doing something wrong
* In complex programs, it is much better to focus on "inter-entity" rather than
"inter-functional" communication

* there are a huge number of formatting and automatic code beauters
* pylint - a library that analyzes the code, helps to improve it in
accordance with the adopted rules (you can change them according
to your rules / preferences)
* a large number of online code cleaners (just enter "python clean code
online" in Google
* black - a library that automatically formats the code from the file in
place (!), no copy is made, the file is repaired and the old format
disappears irretrievably

##Intro OOP - object oriented programming

* A different way of thinking about programming.
* A program is no longer a cluster of functions and loops - it has a structure.
* The program structure is based on objects.
* The object has a certain state and has data and methods to manipulate it.
* Objects interact with each other.
* Objects are of certain types.
* The types are from the problem domain.
* Objects hide implementation details.
* The interface provided by the objects is understandable to anyone who understands
the problem and does not need to be familiar with programming.

In [ ]:
#Example person class
#keyword class + class name
class Person:

  #Constructor - initialization method
  def __init__(self, jmeno, prijmeni, pohlavi=""):
    self.jmeno = jmeno
    self.prijmeni = prijmeni
    self.pohlavi = pohlavi

  def pozdrav(self, nekoho):
    print(f"{self.jmeno} zdraví {nekoho}!")

  def uloz_do_databaze(self):
    pass

In [ ]:
#Create instance out of class
id001 = Person("Michal", "Maliszewski", "Muž")
id002 = Person("Miloš", "Zeman")

In [ ]:
print(id001.jmeno)
print(id001.prijmeni)
print(id001.pohlavi)

Michal
Maliszewski
Muž

In [ ]:
#Create instance out of class
id002 = Person("Miloš", "Zeman", "Muž")

In [ ]:
print(id002.jmeno)
print(id002.prijmeni)
print(id002.pohlavi)
id002.pozdrav("Marka")

Miloš
Zeman
Muž
Miloš zdraví Marka!

In [ ]:
import os

#Example car class
class Car:

  #Constructor
  def __init__(self, car_type, brand, top_speed, price):
    #Attributes
    self.car_type = car_type
    self.brand = brand
    self.top_speed = top_speed
    self.price = price
    self.for_sale = True

  #Private method - internal usage
  def _is_it_fast(self):
    if self.top_speed > 220:
      return True
    else:
      return False

  def ignite(self):
    #Call other method -> private method
    if self._is_it_fast() == True:
      print("Vrrrrrmmmmm.....")
    else:
      print("Vrm.....")

  def change_price(self, new_price):
    self.price = new_price

  def change_top_speed(self, new_top):
    self.top_speed = new_top

  def can_I_afford(self, budget):
    return False if self.price > budget else True

In [ ]:
#Create class instances
decent_family_car = Car("MPV", "Ford", 180, 800000)
sexy_car = Car("MuscleCar", "Chevrolet", 250, 1400000)

In [ ]:
#Get attributes syntax
print(sexy_car.brand)
print(sexy_car.top_speed)

Chevrolet
250

In [ ]:
#Call methods syntax
decent_family_car.ignite()
sexy_car.ignite()

Vrm.....
Vrrrrrmmmmm.....

In [ ]:
print(decent_family_car.can_I_afford(1000000))
print(sexy_car.can_I_afford(1000000))

True
False

In [ ]:
#Attribute change - good practise to define method for that
sexy_car.change_price(900000)
print(sexy_car.can_I_afford(1000000))

True

In [ ]:
#Attribute change - not recommended
decent_family_car.price = 1100000
print(decent_family_car.can_I_afford(1000000))

False

###Task 11 - basic OOP

##Advanced OOP

A good class is one that:
* performs only one task
* is open to inheritance, closed to modifications
* is consistent
* is characterized by low coupling with other classes
* contains functions written according to the rules
* it includes a "finite" number of methods (up to a dozen)
* has only the fields that it actually uses

###Constructor

In [ ]:
class Pacient:

  def __init__(self, surname, name, age):
    self.surname = surname
    self.name = name
    self.age = age

  def show_info(self):
    print(f"Name: {self.surname} {self.name}\nAge: {self.age}")

In [ ]:
p001 = Pacient("Maliszewski", "Michal", 30)
p002 = Pacient("Překážka", "Petr", 42)

In [ ]:
p001.show_info()
p002.show_info()

Name: Maliszewski Michal
Age: 30
Name: Překážka Petr
Age: 42

###Atributes / method types

* Instance method defines instance behaviour / functionality, not class. It is referenced by self keyword.
* Class metohd defines behavior / functionality of the whole class, not single objects / instances. It is referenced by cls keyword and defined by decorator @classmethod. Such a method has access to class atributes and static methods, but not to object / instance data.
* Static method is just a function defined within class. It is defined by decorator @staticmethod. Such a method has access only to its own atributes.
* Class and Static methods are callable through object / instance

In [ ]:
class Employee:

  raise_amount = 1.05

  def __init__(self, surname, name, age, salary):
    self.surname = surname
    self.name = name
    self.age = age
    self.salary = salary

  def fullname(self):
    return f"{self.name} {self.surname}"

  def apply_raise(self):
    self.salary = int(self.salary * self.raise_amount)

  @classmethod
  def set_raise_amount(cls, new_raise_amount):
    cls.raise_amount = new_raise_amount
    return cls.raise_amount

  @staticmethod
  def is_workday(*args, **kwargs):
    return True

In [ ]:
emp001 = Employee("Maliszewski", "Michal", 31, 50000)
emp002 = Employee("Překážka", "Jiří", 22, 100000)

In [ ]:
emp001.apply_raise()
emp001.salary

60775

In [ ]:
Employee.set_raise_amount(1.1)

1.1

In [ ]:
emp001.apply_raise()
emp001.salary

73537

In [ ]:
emp002.apply_raise()
emp002.salary

146410

In [ ]:
#Call from object
print(emp001.fullname(), "\n")
print(emp001.set_raise_amount(1.2), "\n")
print(emp001.is_workday("neděle"), "\n")

Michal Maliszewski

1.2

True

In [ ]:
#Call from class
try:
  print(Employee.fullname(), "\n")
except:
  print("Failed", "\n")
try:
  print(emp001.set_raise_amount(1.05), "\n")
except:
  print("Failed", "\n")
try:
  print(Employee.is_workday("neděle"), "\n")
except:
  print("Failed", "\n")

Failed

1.05

True

###Task 12 - character creation

###Inheritance

Například vytvoření vlastních vyjímek

In [ ]:
class NoMoneyException(Exception):
    pass

class OutOfBudget(Exception):
    pass

In [ ]:
balance = int(input("Enter a balance: "))
if balance < 1000:
    raise NoMoneyException
elif balance > 10000:
    raise OutOfBudget

Enter a balance: 50

NoMoneyException:

In [ ]:
class Employee:

  raise_amount = 1.05

  def __init__(self, surname, name, age, salary):
    self.surname = surname
    self.name = name
    self.age = age
    self.salary = salary

  def fullname(self):
    return f"{self.name} {self.surname}"

  def apply_raise(self):
    self.salary = int(self.salary * self.raise_amount)

  @classmethod
  def set_raise_amount(cls, new_raise_amount):
    cls.raise_amount = new_raise_amount

  @staticmethod
  def is_workday(day):
    return True

In [ ]:
emp001 = Employee("Maliszewski", "Michal", 29, 500000)

In [ ]:
emp001.apply_raise()
emp001.salary

525000

In [ ]:
class DataScientist(Employee):

  raise_amount = 1.2

  def create_LLM(self):
    return "ChatGPT"

In [ ]:
emp001 = Employee("Maliszewski", "Michal", 29, 500000)
ds001 = DataScientist("Maliszewski", "Michal", 29, 500000)

In [ ]:
emp001.apply_raise()
emp001.salary

525000

In [ ]:
emp001.create_LLM()

AttributeError: 'Employee' object has no attribute 'create_LLM'

In [ ]:
ds001.apply_raise()
ds001.salary

600000

In [ ]:
ds001.create_LLM()

'ChatGPT'

In [ ]:
class Manager(Employee):

  def __init__(self, surname, name, age, salary, employees=[]):
    super().__init__(surname, name, age, salary)
    self.employees = employees

  def add_employee(self, employee):
    self.employees.append(employee)

  def remove_employee(self, employee):
    if employee in self.employees:
      self.employees.remove(employee)

  def print_employees(self):
    for employee in self.employees:
      print(employee)

  def apply_raise(self):
    super().apply_raise()
    self.salary += len(self.employees) * 1000

In [ ]:
man001 = Manager("Maliszewski", "Michal", 29, 50000)

In [ ]:
man001.print_employees()

Jiri
Petr

In [ ]:
man001.add_employee("Jiri")
man001.print_employees()

Jiri
Petr
Jiri

In [ ]:
man001.add_employee("Petr")
man001.print_employees()

Jiri
Petr
Jiri
Petr

In [ ]:
man001.remove_employee("Jiri")
man001.print_employees()

Petr

In [ ]:
man001.apply_raise()
man001.salary

56500

###Task 13 - special characters

##Modules

In [ ]:
import json

In [ ]:
from random import randint

In [ ]:
from random import randint as nahodne_cislo

###Module

###Packages

###Pip

https://pypi.org/

Vytvoření virtuálního prostředí v aktuální složce:
* python3 -m venv moje_prostredi

Aktivace prostředí:
* moje_prostredi\Scripts\activate

Ignorovat prostředí gitem:
* .gitignore

Podívat se, co je nainstalováno
* pip freeze

Instalace knihovny
* pip install numpy

Ověření, že se nainstalovala
* pip freeze

Vytvořit soubor pro replikaci prostředí
* pip freeze > requirements.txt

Nainstalovat prostředí ze souboru
* pip install -r requirements.txt

In [ ]:
from nptdms import TdmsFile

ModuleNotFoundError: No module named 'nptdms'

In [ ]:
pip install nptdms

Collecting nptdms
  Downloading npTDMS-1.9.0.tar.gz (180 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 180.6/180.6 kB 3.5 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from nptdms) (1.25.2)
Building wheels for collected packages: nptdms
  Building wheel for nptdms (pyproject.toml) ... done
  Created wheel for nptdms: filename=npTDMS-1.9.0-py3-none-any.whl size=107810 sha256=179d1461c57048046e11d54e7e7c7a51c3ad33895a53d7e57a28ffa11dce48e8
  Stored in directory: /root/.cache/pip/wheels/82/8b/23/e2e53cf0a7f0d2a0b303f2a0bc223dd45b6775169bcfb3feda
Successfully built nptdms
Installing collected packages: nptdms
Successfully installed nptdms-1.9.0

In [ ]:
from nptdms import TdmsFile

###Virtual Environment

##Testing

The Python standard library includes the unittest module to help you write and run tests for your Python code.

Tests written using the unittest module can help you find bugs in your programs, and prevent regressions from occurring as you change your code over time. Teams adhering to test-driven development may find unittest useful to ensure all authored code has a corresponding set of tests.

* Unittest requires you to create test methods that are contained in a class.
* A class created with unittest must be a subclass of unittest.TestCase

* Test case – Individual test unit. Checks specific results for assumed input data.
* Test suite – A collection of test cases, other test suites, or combinations of cases
and kits. Used to aggregate tests that should be run together.
* Test runner – component that manages the execution of tests and reporting the
results to the user. The test runner can have a graphical or text interface, or it can
return a specific value informing about the execution of tests.

* Assertion – a predicate (a sentence form in a given language that returns true or
false), placed somewhere in the code. The assertion indicates that the programmer
assumes that the predicate is true at that point.
* Each assertion contains a Boolean expression that is assumed to be true when the
assertion is executed. If the expression is not true, the system will return an
AssertionError. By checking that a logical expression is true, the assertion validates

In [ ]:
import unittest

def add_fish_to_aquarium(fish_list):
    if len(fish_list) > 10:
        raise ValueError("A maximum of 10 fish can be added to the aquarium")
    return {"aquarium": fish_list}


class TestAddFishToAquarium(unittest.TestCase):

    def test_add_fish_to_aquarium_success(self):
        actual = add_fish_to_aquarium(fish_list=["shark", "tuna"])
        expected = {"aquarium": ["shark", "tuna"]}
        self.assertEqual(actual, expected)

In [ ]:
unittest.main(argv=[''], verbosity=2, exit=False)

test_add_fish_to_aquarium_success (__main__.TestAddFishToAquarium) ... ok

----------------------------------------------------------------------
Ran 1 test in 0.011s

OK

In [ ]:
import unittest

def add_fish_to_aquarium(fish_list):
    if len(fish_list) > 10:
        raise ValueError("A maximum of 10 fish can be added to the aquarium")
    return {"aquarium": fish_list}


class TestAddFishToAquarium(unittest.TestCase):

    def test_add_fish_to_aquarium_success(self):
        actual = add_fish_to_aquarium(fish_list=["shark", "tuna", "štika"])
        expected = {"aquarium": ["shark", "tuna"]}
        self.assertEqual(actual, expected)

In [ ]:
unittest.main(argv=[''], verbosity=2, exit=False)

test_add_fish_to_aquarium_success (__main__.TestAddFishToAquarium) ... FAIL

======================================================================
FAIL: test_add_fish_to_aquarium_success (__main__.TestAddFishToAquarium)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-3-d3a264a6541b>", line 14, in test_add_fish_to_aquarium_success
    self.assertEqual(actual, expected)
AssertionError: {'aquarium': ['shark', 'tuna', 'štika']} != {'aquarium': ['shark', 'tuna']}
- {'aquarium': ['shark', 'tuna', 'štika']}
?                              ---------

+ {'aquarium': ['shark', 'tuna']}

----------------------------------------------------------------------
Ran 1 test in 0.008s

FAILED (failures=1)

In [ ]:
import unittest

def add_fish_to_aquarium(fish_list):
    if len(fish_list) > 10:
        raise ValueError("A maximum of 10 fish can be added to the aquarium")
    return {"aquarium": fish_list}


class TestAddFishToAquarium(unittest.TestCase):

    def test_add_fish_to_aquarium_success(self):
        actual = add_fish_to_aquarium(fish_list=["shark", "tuna"])
        expected = {"aquarium": ["shark", "tuna"]}
        self.assertEqual(actual, expected)

    def test_add_fish_to_aquarium_exception(self):
        too_many_fish = ["shark"] * 25
        with self.assertRaises(ValueError) as exception_context:
            add_fish_to_aquarium(too_many_fish)
        self.assertIn("maximum of 10 fish", str(exception_context.exception))

In [ ]:
unittest.main(argv=[''], verbosity=2, exit=False)

test_add_fish_to_aquarium_exception (__main__.TestAddFishToAquarium) ... ok
test_add_fish_to_aquarium_success (__main__.TestAddFishToAquarium) ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.011s

OK


Method ->	Assertion
* assertEqual(a, b)	-> a == b
* assertNotEqual(a, b)	-> a != b
* assertTrue(a) ->	bool(a) is True
* assertFalse(a) ->	bool(a) is False
* assertIsNone(a) ->	a is None
* assertIsNotNone(a) ->	a is not None
* assertIn(a, b) ->	a in b
* assertNotIn(a, b) ->	a not in b

setUp methods can be helpful when you have a common set of preparation code that you want to run before each and every one of your tests. setUp lets you put all this preparation code in a single place

In [ ]:
import unittest

class FishTank:
    def __init__(self):
        self.has_water = False

    def fill_with_water(self):
        self.has_water = True

class TestFishTank(unittest.TestCase):
    def setUp(self):
        self.fish_tank = FishTank()

    def test_fish_tank_empty_by_default(self):
        self.assertFalse(self.fish_tank.has_water)

    def test_fish_tank_can_be_filled(self):
        self.fish_tank.fill_with_water()
        self.assertTrue(self.fish_tank.has_water)

In [ ]:
unittest.main(argv=[''], verbosity=2, exit=False)

test_add_fish_to_aquarium_exception (__main__.TestAddFishToAquarium) ... ok
test_add_fish_to_aquarium_success (__main__.TestAddFishToAquarium) ... ok
test_fish_tank_can_be_filled (__main__.TestFishTank) ... ok
test_fish_tank_empty_by_default (__main__.TestFishTank) ... ok

----------------------------------------------------------------------
Ran 4 tests in 0.016s

OK

tearDown is useful if, for example, we need to clean up connections to a database, or modifications made to a filesystem after each test completes.

In [ ]:
import os
import unittest

class AdvancedFishTank:
    def __init__(self):
        self.fish_tank_file_name = "fish_tank.txt"
        default_contents = "shark, tuna"
        with open(self.fish_tank_file_name, "w") as f:
            f.write(default_contents)

    def empty_tank(self):
        os.remove(self.fish_tank_file_name)


class TestAdvancedFishTank(unittest.TestCase):
    def setUp(self):
        self.fish_tank = AdvancedFishTank()

    def tearDown(self):
        self.fish_tank.empty_tank()

    def test_fish_tank_writes_file(self):
        with open(self.fish_tank.fish_tank_file_name) as f:
            contents = f.read()
        self.assertEqual(contents, "shark, tuna")

In [ ]:
unittest.main(argv=[''], verbosity=2, exit=False)

test_add_fish_to_aquarium_exception (__main__.TestAddFishToAquarium) ... ok
test_add_fish_to_aquarium_success (__main__.TestAddFishToAquarium) ... ok
test_fish_tank_writes_file (__main__.TestAdvancedFishTank) ... ok
test_fish_tank_can_be_filled (__main__.TestFishTank) ... ok
test_fish_tank_empty_by_default (__main__.TestFishTank) ... ok

----------------------------------------------------------------------
Ran 5 tests in 0.029s

OK

* Given creates a section in which we create the initial assumptions. We set the state of
the system (also called the state of the world) as needed for testing.
* When in this section we perform the action we want to test.
* Then we check whether the application has behaved as expected. Most often by using
assertions or interactions with mocks (more about mocks later).

In [ ]:
import unittest

class Account:

  def __init__(self, owner):
    self.owner = owner
    self.balance = 0

  def get_balance(self):
    print(self.balance)

  def change_account_balance(self, amount):
    if self.balance + amount >= 0:
      self.balance += amount
      return self.balance
    else:
      raise ValueError("Not enough money on account!")

In [ ]:
acc = Account("Michal")
acc.change_account_balance(5000)
acc.change_account_balance(-2000)
acc.get_balance()
acc.change_account_balance(-20000)
acc.get_balance()

3000

ValueError: Not enough money on account!

In [ ]:
import unittest

In [ ]:
class TestAccount(unittest.TestCase):

    def setUp(self):
        self.acc = Account("Michal")

    def test_init_balance(self):
        self.assertEqual(self.acc.balance, 0)

    def test_change_amount(self):
        self.acc.change_account_balance(2000)
        self.acc.change_account_balance(-500)
        self.assertEqual(self.acc.balance, 1500)

    def test_below_zero(self):
        with self.assertRaises(ValueError) as exception_context:
          self.acc.change_account_balance(2000)
          self.acc.change_account_balance(-5000)
        self.assertIn("Not enough money", str(exception_context.exception))

In [ ]:
unittest.main(argv=[''], verbosity=3, exit=False)

test_below_zero (__main__.TestAccount) ... ok
test_change_amount (__main__.TestAccount) ... ok
test_init_balance (__main__.TestAccount) ... ok
test_add_fish_to_aquarium_exception (__main__.TestAddFishToAquarium) ... ok
test_add_fish_to_aquarium_success (__main__.TestAddFishToAquarium) ... ok
test_fish_tank_writes_file (__main__.TestAdvancedFishTank) ... ok
test_fish_tank_can_be_filled (__main__.TestFishTank) ... ok
test_fish_tank_empty_by_default (__main__.TestFishTank) ... ok

----------------------------------------------------------------------
Ran 8 tests in 0.032s

OK

###Task 14